
<div>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
    <div class="container">
      <h1> All our Flats </h1>
      <p> Total : <%= @flats.count %> flats </p>
      <a class="btn btn-flat" <%= link_to 'add a new flat', new_flat_path %></a>
    </div>
  </div>

  <table>
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Description</th>
        <th>Price per night</th>
        <th>Number of guests</th>
        <th colspan="5"></th>
      </tr>
    </thead>

    <tbody>
      <% @flats.each do |f| %>
        <tr>
          <td><%= f.name %></td>
          <td><%= f.address %></td>
          <td><%= f.description %></td>
          <td><%= f.price_per_night %>euros</td>
          <td><%= f.number_of_guests %></td>
          <td><%= link_to 'See more infomation', f %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/background.png);">
    <div class="container">
      <h1>Le Wagon brings <strong>tech skills</strong> to <strong>creative people</strong>!</h1>
      <p>Change your life and learn to code at one of our campuses around the world.</p>
      <a class="btn btn-flat" href="#">Apply now</a>
    </div>
  </div>


</div>
